*{
    padding: auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
    background-image: url(ola-mundo-hello-world-wordpress.jpeg);
    background-attachment: fixed;
    background-size: cover;
}
header{
    text-align: center;
    margin-bottom: 20px; 
}

h1{
    color: red;
}

h2{
    padding: 10px;
    background-color: yellow;
}
main{
    background-color: white;
    padding: auto;
    border-radius: 10px;
    border: 10px, dotted blueviolet;
    

}

footer{
    text-align: center;
    margin-top: 20px;
    font-size:0.9em ;
    color: black;
    background-color: rgba(137, 43, 226, 0.414);
    padding:auto;
}
a{
    color: black;
}
button:hover{
    background-color: blue;
}